$font-size-root: 19px;
$colors-1-rgba: rgba(143,178,191, 1);
$colors-2-rgba: rgba(166,152,83, 1);
$colors-3-rgba: rgba(217,177,59, 1);
$colors-4-rgba: rgba(191,131,78, 1);
$colors-5-rgba: rgba(217,98,72, 1);